@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
    scroll-behavior: smooth;
}

p { box-sizing: border-box;
    padding: 50px;
 }

* {
    font-family: 'Ubuntu', sans-serif;

}

.box {
    color:black;
    font-size: 25px;
    text-align: center;
    padding:25px;
    width: 400px
}
.box1 {
    color:black;
    font-size: 20px;
    text-align: center;
    padding:25px;
    width: 400px;   
}

  
  .box1 { background:teal;}
  .box2 { background:grey;}
  .box3 { background:teal;}
  .box4 { background:grey;}
  .box5 { background:teal;}

a:link {
    color:black;
}
  
a:visited {
    color:black
}

.container {
    display: flex;
}
.container1{
    display: flex;
}
.center {
    text-align:center;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

.backgroundColor{
    background-color: rgba(255, 255, 255, 0.8)
}

.firstPageImg {
    background-image: url(images/giphy.gif);
    /* background-position:  */
    background-size: 100% 100%; 
    background-repeat: no-repeat;
     
} 
.secondPageImg {
    background-image: url(images/joydiv.gif);
    /* background-position:  */
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
.thirdPageImg {
    background-image: url(images/destiny.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.refPageImg {
background-image: url(images/reference.gif);
background-size: 100% 100%;
background-repeat: no-repeat;    
}
.conPageImg {
background-image: url(images/floyd.gif);
background-size: 100% 100%;
background-repeat: no-repeat;    
}
